
*,
*::before,
*::after {
  box-sizing: border-box; /* 1 */
}
html {
  font-family: sans-serif; /* 2 */
  line-height: 1.15; /* 3 */
  -webkit-text-size-adjust: 100%; /* 4 */
  -ms-text-size-adjust: 100%; /* 4 */
  -ms-overflow-style: scrollbar; /* 5 */
  -webkit-tap-highlight-color: transparent; /* 6 */
}


article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0; /* 1 */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #212529;
  text-align: left; /* 3 */
  background-color: #fff; /* 2 */
}

[tabindex="-1"]:focus {
  outline: none !important;
}
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] { /* 4 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted; /* 2 */
          text-decoration: underline dotted; /* 2 */
  cursor: help; /* 3 */
  border-bottom: 0; /* 1 */
}
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
  margin-left: 0; /* Undo browser default */
}
blockquote {
  margin: 0 0 1rem;
}
dfn {
  font-style: italic; /* Add the correct font style in Android 4.3- */
}
b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}
small {
  font-size: 80%; /* Add the correct font size in all browsers */
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -.25em;
}
sup {
  top: -.5em;
}
/*
Links
*/
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent; /* Remove the gray background on active links in IE 10. */
  -webkit-text-decoration-skip: objects; /* Remove gaps in links underline in iOS 8+ and Safari 8+. */
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace; /* Correct the inheritance and scaling of font size in all browsers. */
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers. */
}

/*
Figures
*/
figure {
  /* Apply a consistent margin strategy (matches our type styles). */
  margin: 0 0 1rem;
}
/*
Images and content
*/
img {
  vertical-align: middle;
  border-style: none; /* Remove the border on images inside links in IE 10-. */
}
svg:not(:root) {
  overflow: hidden; /* Hide the overflow in IE */
}

a,
area,
button,
[role="button"],
input:not([type=range]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

table {
  border-collapse: collapse; /* Prevent double borders */
}
caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #868e96;
  text-align: left;
  caption-side: bottom;
}
th {

  text-align: inherit;
}
/*
Forms
*/
label {
  /* Allow labels to use `margin` for spacing. */
  display: inline-block;
  margin-bottom: .5rem;
}
/*
Remove the default `border-radius` that macOS Chrome adds.
Details at https://github.com/twbs/bootstrap/issues/24093
*/
button {
  border-radius: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0; /* Remove the margin in Firefox and Safari */
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


li{
    list-style-type: none;
}

/* ==============================================varible======================================= */
:root{
 
     /* ==============================================colors======================================= */

    --orange-color:#f16e43;
    --white-color:#fff;
    --form-bg:#16404c;

    /* ===================================================typography================================== */
    --p-28:28px;
    --p-24:24px;
    --p-20:20px;
}
/* =================================================================================================/ */

.container{
    max-width: 1370px;
    margin: 0 auto;
    
}
header{
    background-color: black;
}
.header-wrapper{
 padding-block: 55px;
}
.call-wrapper{
    display: block;
    font-size: 28px;
    font-weight: 900;
    color: var(--orange-color);
    padding: 18px 26px;
    border-radius: 6px;
    text-align: center;
    line-height: 1;
}
.call-wrapper a{
    color: var(--white-color);
}
.banner-wrapper{
    width: 100%;
    height: 760px;
    background: url('./assets/images/bg.png') no-repeat center/ cover;
    position: relative;
    inset: 0;
    color: var(--white-color);
    z-index: -1;
}
.banner-wrapper::before{
    content: '';
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}
.banner-wrapper h4{
    font-size: var(--p-28);
}

.banner-wrapper h1{
    font-size: 61px;
    margin-block: 55px;
    color: var(--orange-color);
}
.banner-wrapper .row{
    height: 760px;
}
.banner-wrapper h4:nth-child(1){
    margin-top: 110px ;
}

.listing-wrapper p{
    position: relative;
    font-size: 23px;
}
.listing-wrapper p::before{
    content: '';
    background: url(./assets/images/bullet.png) no-repeat center/ contain;
    position: absolute;
    left: -42px;
    top: 0;
    width: 30px;
    height: 30px;
}

.listing-wrapper p:nth-child(1){
    margin-top: 35px;
}
form{
    background-color: var(--form-bg);
    width: 100%;
    height: 100%;
    padding: 65px;
    z-index: 888;
}
form h2{
    font-size: 31px;
}
form span{
    color: var(--orange-color);
}
form label{
    font-size: 18px;
    padding-right: 25%;
    color: blanchedalmond;
}
input,textarea{
    width: 100%;
    height: 47px;
    margin-bottom: 22px;
    border-radius: 3px;
    border: none;
    border-radius: 4px;
    display:black;
}
textarea{
    height: 113px;
}